.container {
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #F2F6FC;
}

.container .comment .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .comment .info .avatar {
  border-radius: 50%;
}

.container .comment .info .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

.container .comment .info .right .name {
  font-size: 16px;
  color: #303133;
  margin-bottom: 5px;
  font-weight: 500;
}

.container .comment .info .right .date {
  font-size: 12px;
  color: #909399;
}

.container .comment .content {
  font-size: 16px;
  color: #303133;
  line-height: 20px;
  padding: 10px 0;
}

.container .comment .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #909399;
}

.container .comment .control .like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.container .comment .control .like.active, .container .comment .control .like:hover {
  color: #409EFF;
}

.container .comment .control .like .iconfont {
  font-size: 14px;
  margin-right: 5px;
}

.container .comment .control .comment-reply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.container .comment .control .comment-reply:hover {
  color: #333;
}

.container .comment .control .comment-reply .iconfont {
  font-size: 16px;
  margin-right: 5px;
}

.container .comment .reply {
  margin: 10px 0;
  border-left: 2px solid #DCDFE6;
}

.container .comment .reply .item {
  margin: 0 10px;
  padding: 10px 0;
  border-bottom: 1px dashed #EBEEF5;
}

.container .comment .reply .item .reply-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #303133;
}

.container .comment .reply .item .reply-content .from-name {
  color: #409EFF;
}

.container .comment .reply .item .reply-content .to-name {
  color: #409EFF;
  margin-left: 5px;
  margin-right: 5px;
}

.container .comment .reply .item .reply-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6px;
  font-size: 12px;
  color: #909399;
}

.container .comment .reply .item .reply-bottom .reply-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.container .comment .reply .item .reply-bottom .reply-text:hover {
  color: #333;
}

.container .comment .reply .item .reply-bottom .reply-text .icon-comment {
  margin-right: 5px;
}

.container .comment .reply .write-reply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #909399;
  padding: 10px;
  cursor: pointer;
}

.container .comment .reply .write-reply:hover {
  color: #303133;
}

.container .comment .reply .write-reply .el-icon-edit {
  margin-right: 5px;
}

.container .comment .reply .fade-enter-active, .container .comment .reply fade-leave-active {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.container .comment .reply .fade-enter, .container .comment .reply .fade-leave-to {
  opacity: 0;
}

.container .comment .reply .input-wrapper {
  padding: 10px;
}

.container .comment .reply .input-wrapper .gray-bg-input, .container .comment .reply .input-wrapper .el-input__inner {
  background-color: #67C23A;
}

.container .comment .reply .input-wrapper .btn-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.container .comment .reply .input-wrapper .btn-control .cancel {
  font-size: 16px;
  color: #606266;
  margin-right: 20px;
  cursor: pointer;
}

.container .comment .reply .input-wrapper .btn-control .cancel:hover {
  color: #333;
}

.container .comment .reply .input-wrapper .btn-control .confirm {
  font-size: 16px;
}
/*# sourceMappingURL=scss.css.map */